.App {
  color: rgb(77, 77, 77);
  width: 550px;
 display: flex;
 align-items: center;
 justify-content: center;
  /* background: rgba(0, 0, 0, 0.2); */
  background: #BBB6C1;
  border: 1px solid rgba(0, 0 ,0, 0.2);
  padding: 1rem 2rem;
}
